span {
	font-size: 40px;
	margin-top: 20px;
}

p {
	font-size: 12px;
}

hr {
	width: 100%;
	height: 5px;

}

.email {
	margin-top: 3vh;
}

.next {
	background-color: #FA0AC4;
	height: 10vh;
}

h6 {
	display: inline;
}

input {
	display: inline;
}

h4 {
	color: white;
	padding-top: 20px;
}

.frase {
	font-size: 11px;
	margin-bottom: 5vh;
	margin-top: 5vw;
}

.email i {
	border: 1px solid gray;
	padding: 5px;
}

.name i {
	border: 1px solid gray;
	padding: 5px;
}

.common {
	width: 100%;
	height: 8vh;
	background-color: #DDDEE4;
	margin-bottom: 5vh;
	border-top: 1px solid gray;
}

.cerrar{
	font-size: 17px;
	margin-top: 1vh;
	color:black;
	font-weight: bold;
}

.titulo2 {
	padding-left: 8vw;
	padding-top: 4vh;
	font-weight: bold;
}

h5 {
	font-size:18px;
}

.nameflag {
	padding-top: 1vh;
}

.imgflag {
	padding-left: 2vw;
}

.titulo {
	margin-bottom: 2vh;
	margin-top: 1vh;
}