header {
	background-image: url('../img/profile.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100vw;
	height: 50vh;
}

button {
	margin-top: 3vh;
}

.puntos {
	margin-top: 3vh;

}


p {
	font-size: 12px;
}

.cuadro {
	background-color: #ECECEC;
	width: 50vh;
	height: 35px;
	border-radius: 10px;
	margin-bottom: 5vh;
}

h5 {
	padding-top: 10px;
}